# Are High School Equivalency Test Passing Rates Correlated to Length of Test (short vs long version)?

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from sqlalchemy import create_engine
from datetime import datetime 
import matplotlib.pyplot as plt

In [2]:
# Read and Store XLSX file into DataFrame
NWEA_Data_df = pd.read_excel('Resources/NWEAGrowthReportYear2019.xlsx', sheet_name='2019')
print("Column headings:")
print(NWEA_Data_df.columns)

Column headings:
Index(['Student ID', 'Student Last', 'Student First', 'Term Tested', 'Subject',
       'Test RIT Score', 'Rapid-Guessing %', 'Assessment Name',
       'Math: Geometry', 'Math: Operations and Algebraic Thinking',
       'Math: Statistics and Probability',
       'Math: The Real and Complex Number Systems',
       'Reading: Informational Text', 'Reading: Literature',
       'Reading: Vocabulary Acquisition and Use',
       'Language: Language: Understand, Edit for Grammar, Usage',
       'Language: Language: Understand, Edit Mechanics',
       'Language: Writing: Plan, Organize, Develop, Revise, Research'],
      dtype='object')

In [3]:
# Remove Inactive CMs
NWEA1_df = NWEA_Data_df[~NWEA_Data_df["Term Tested"].str.contains("Summer", na=False)]
NWEA2_df = NWEA1_df[~NWEA1_df["Term Tested"].str.contains("Fall", na=False)]
NWEA3_df = NWEA2_df[~NWEA2_df["Term Tested"].str.contains("Winter", na=False)]
NWEA_df = NWEA3_df[~NWEA3_df["Term Tested"].str.contains("Spring", na=False)]

print(NWEA_df)

     Student ID    Student Last Student First          Term Tested    Subject  \
0        2262.0         Abraham        Jelani  2019-01-09 00:00:00  Language
1        2262.0         Abraham        Jelani  2019-04-11 00:00:00   Language
2        2262.0         Abraham        Jelani  2019-07-11 00:00:00   Language
3        2262.0         Abraham        Jelani  2019-08-29 00:00:00   Language
4        2262.0         Abraham        Jelani  2019-12-09 00:00:00   Language
5        4770.0  Acosta Delgado      Estefany  2019-04-08 00:00:00   Language
6        4770.0  Acosta Delgado      Estefany  2019-08-29 00:00:00   Language
7        4770.0  Acosta Delgado      Estefany  2019-12-09 00:00:00   Language
10       2375.0           Akins       Madison  2019-01-17 00:00:00   Language
11       2375.0           Akins       Madison  2019-04-02 00:00:00   Language
12       2066.0           Allen         Imani  2019-07-11 00:00:00   Language
13       2066.0           Allen         Imani  2019-07-24 00:00:00   Language
14       2323.0  Alva Velasquez        Martha  2019-03-29 00:00:00   Language
15       2323.0  Alva Velasquez        Martha  2019-12-09 00:00:00   Language
16       2391.0        Alvarado         Selma  2019-02-28 00:00:00   Language
17       2391.0        Alvarado         Selma  2019-05-10 00:00:00   Language
18       2391.0        Alvarado         Selma  2019-08-27 00:00:00   Language
19       2391.0        Alvarado         Selma  2019-12-09 00:00:00   Language
20       4771.0         Andrews      Marquise  2019-06-04 00:00:00   Language
21       2419.0          Arnold        Alonzo  2019-04-25 00:00:00   Language
22       2419.0          Arnold        Alonzo  2019-07-24 00:00:00   Language
23       2419.0          Arnold        Alonzo  2019-12-03 00:00:00   Language
26       2430.0         Benitez          Luis  2019-07-15 00:00:00   Language
27       2430.0         Benitez          Luis  2019-12-05 00:00:00   Language
29       4773.0         Bennett      Tyrianna  2019-04-04 00:00:00   Language
30       4773.0         Bennett      Tyrianna  2019-08-26 00:00:00   Language
31       4773.0         Bennett      Tyrianna  2019-11-22 00:00:00   Language
33       2369.0         Bibiano        Ulises  2019-01-09 00:00:00   Language
34       2369.0         Bibiano        Ulises  2019-04-02 00:00:00   Language
35       2369.0         Bibiano        Ulises  2019-08-29 00:00:00   Language
..          ...             ...           ...                  ...        ...
521      2401.0        Sandoval        Lisbet  2019-12-03 00:00:00    Reading
523      2034.0           Silva        Milton  2019-08-29 00:00:00    Reading
525      4811.0      Singletary         Blake  2019-02-05 00:00:00    Reading
526      4811.0      Singletary         Blake  2019-04-03 00:00:00    Reading
527      4811.0      Singletary         Blake  2019-06-04 00:00:00    Reading
528      4811.0      Singletary         Blake  2019-08-06 00:00:00    Reading
529      4811.0      Singletary         Blake  2019-09-18 00:00:00    Reading
530      4811.0      Singletary         Blake  2019-10-09 00:00:00    Reading
531      4811.0      Singletary         Blake  2019-11-22 00:00:00    Reading
532      2314.0           Smith        Ke'ara  2019-01-11 00:00:00    Reading
533      2314.0           Smith        Ke'ara  2019-04-04 00:00:00    Reading
534      2314.0           Smith        Ke'ara  2019-08-29 00:00:00    Reading
537      2272.0         Swenson          Bria  2019-04-01 00:00:00    Reading
538      2272.0         Swenson          Bria  2019-06-04 00:00:00    Reading
539      2315.0        Thornton      Earnisha  2019-06-05 00:00:00    Reading
540      2418.0          Tillis      Treshawn  2019-04-17 00:00:00    Reading
541      2421.0    Turner-Blair      Terrence  2019-07-11 00:00:00    Reading
542      2421.0    Turner-Blair      Terrence  2019-09-24 00:00:00    Reading
544      2412.0         Vazquez      Jonathan  2019-04-17 00:00:00    Reading
545      2412.0         Vazquez      Jonathan  2019-09-24 00:00:00    Reading
546      2412.0         Vazquez      Jonathan  2019-12-09 00:00:00    Reading
547      2410.0            Vega        Andrea  2019-04-17 00:00:00    Reading
548      2410.0            Vega        Andrea  2019-08-29 00:00:00    Reading
550      2465.0            Wade         Hosea  2019-10-24 00:00:00    Reading
551      2425.0            Ward        Symone  2019-07-11 00:00:00    Reading
552      2425.0            Ward        Symone  2019-10-24 00:00:00    Reading
554      2127.0          Worley       William  2019-02-07 00:00:00    Reading
555      2127.0          Worley       William  2019-04-01 00:00:00    Reading
556      2127.0          Worley       William  2019-10-09 00:00:00    Reading
557      2159.0           Young     Alejandro  2019-10-24 00:00:00    Reading

     Test RIT Score  Rapid-Guessing %    Assessment Name Math: Geometry  \
0             201.0               4.0      Growth (Long)            NaN
1             215.0               NaN  Screening (Short)            NaN
2             193.0               4.0      Growth (Long)            NaN
3             198.0               NaN  Screening (Short)            NaN
4             217.0               NaN  Screening (Short)            NaN
5             202.0               NaN  Screening (Short)            NaN
6             198.0               NaN  Screening (Short)            NaN
7             217.0               NaN  Screening (Short)            NaN
10            198.0              28.0      Growth (Long)            NaN
11            208.0               NaN  Screening (Short)            NaN
12            222.0              14.0      Growth (Long)            NaN
13            234.0               NaN  Screening (Short)            NaN
14            196.0               NaN  Screening (Short)            NaN
15            232.0               NaN  Screening (Short)            NaN
16            207.0               0.0      Growth (Long)            NaN
17            213.0               0.0      Growth (Long)            NaN
18            222.0               NaN  Screening (Short)            NaN
19            217.0               NaN  Screening (Short)            NaN
20            231.0               0.0      Growth (Long)            NaN
21            219.0               0.0      Growth (Long)            NaN
22            217.0               0.0      Growth (Long)            NaN
23            222.0               NaN  Screening (Short)            NaN
26            210.0               0.0      Growth (Long)            NaN
27            215.0               0.0      Growth (Long)            NaN
29            223.0               NaN  Screening (Short)            NaN
30            223.0               NaN  Screening (Short)            NaN
31            242.0               0.0      Growth (Long)            NaN
33            212.0               0.0      Growth (Long)            NaN
34            209.0               0.0      Growth (Long)            NaN
35            209.0               2.0      Growth (Long)            NaN
..              ...               ...                ...            ...
521           221.0               0.0      Growth (Long)            NaN
523           216.0               3.0      Growth (Long)            NaN
525           215.0               NaN  Screening (Short)            NaN
526           213.0               NaN  Screening (Short)            NaN
527           223.0               NaN  Screening (Short)            NaN
528           218.0               NaN  Screening (Short)            NaN
529           226.0               0.0      Growth (Long)            NaN
530           222.0               NaN  Screening (Short)            NaN
531           236.0               NaN  Screening (Short)            NaN
532           206.0              26.0      Growth (Long)            NaN
533           223.0               NaN  Screening (Short)            NaN
534           216.0               0.0      Growth (Long)            NaN
537           204.0               NaN  Screening (Short)            NaN
538           244.0               NaN  Screening (Short)            NaN
539           252.0               NaN  Screening (Short)            NaN
540           202.0               0.0      Growth (Long)            NaN
541           224.0               NaN  Screening (Short)            NaN
542           228.0               0.0      Growth (Long)            NaN
544           216.0               0.0      Growth (Long)            NaN
545           221.0               NaN  Screening (Short)            NaN
546           226.0               0.0      Growth (Long)            NaN
547           219.0               0.0      Growth (Long)            NaN
548           206.0               5.0      Growth (Long)            NaN
550           213.0               3.0      Growth (Long)            NaN
551           221.0              10.0      Growth (Long)            NaN
552           231.0               7.0      Growth (Long)            NaN
554           218.0               NaN  Screening (Short)            NaN
555           208.0               NaN  Screening (Short)            NaN
556           234.0               NaN  Screening (Short)            NaN
557           217.0               NaN  Screening (Short)            NaN

    Math: Operations and Algebraic Thinking Math: Statistics and Probability  \
0                                       NaN                              NaN
1                                       NaN                              NaN
2                                       NaN                              NaN
3                                       NaN                              NaN
4                                       NaN                              NaN
5                                       NaN                              NaN
6                                       NaN                              NaN
7                                       NaN                              NaN
10                                      NaN                              NaN
11                                      NaN                              NaN
12                                      NaN                              NaN
13                                      NaN                              NaN
14                                      NaN                              NaN
15                                      NaN                              NaN
16                                      NaN                              NaN
17                                      NaN                              NaN
18                                      NaN                              NaN
19                                      NaN                              NaN
20                                      NaN                              NaN
21                                      NaN                              NaN
22                                      NaN                              NaN
23                                      NaN                              NaN
26                                      NaN                              NaN
27                                      NaN                              NaN
29                                      NaN                              NaN
30                                      NaN                              NaN
31                                      NaN                              NaN
33                                      NaN                              NaN
34                                      NaN                              NaN
35                                      NaN                              NaN
..                                      ...                              ...
521                                     NaN                              NaN
523                                     NaN                              NaN
525                                     NaN                              NaN
526                                     NaN                              NaN
527                                     NaN                              NaN
528                                     NaN                              NaN
529                                     NaN                              NaN
530                                     NaN                              NaN
531                                     NaN                              NaN
532                                     NaN                              NaN
533                                     NaN                              NaN
534                                     NaN                              NaN
537                                     NaN                              NaN
538                                     NaN                              NaN
539                                     NaN                              NaN
540                                     NaN                              NaN
541                                     NaN                              NaN
542                                     NaN                              NaN
544                                     NaN                              NaN
545                                     NaN                              NaN
546                                     NaN                              NaN
547                                     NaN                              NaN
548                                     NaN                              NaN
550                                     NaN                              NaN
551                                     NaN                              NaN
552                                     NaN                              NaN
554                                     NaN                              NaN
555                                     NaN                              NaN
556                                     NaN                              NaN
557                                     NaN                              NaN

    Math: The Real and Complex Number Systems Reading: Informational Text  \
0                                         NaN                         NaN
1                                         NaN                         NaN
2                                         NaN                         NaN
3                                         NaN                         NaN
4                                         NaN                         NaN
5                                         NaN                         NaN
6                                         NaN                         NaN
7                                         NaN                         NaN
10                                        NaN                         NaN
11                                        NaN                         NaN
12                                        NaN                         NaN
13                                        NaN                         NaN
14                                        NaN                         NaN
15                                        NaN                         NaN
16                                        NaN                         NaN
17                                        NaN                         NaN
18                                        NaN                         NaN
19                                        NaN                         NaN
20                                        NaN                         NaN
21                                        NaN                         NaN
22                                        NaN                         NaN
23                                        NaN                         NaN
26                                        NaN                         NaN
27                                        NaN                         NaN
29                                        NaN                         NaN
30                                        NaN                         NaN
31                                        NaN                         NaN
33                                        NaN                         NaN
34                                        NaN                         NaN
35                                        NaN                         NaN
..                                        ...                         ...
521                                       NaN                     221-230
523                                       NaN                     211-220
525                                       NaN                         NaN
526                                       NaN                         NaN
527                                       NaN                         NaN
528                                       NaN                         NaN
529                                       NaN                     221-230
530                                       NaN                         NaN
531                                       NaN                         NaN
532                                       NaN                     201-210
533                                       NaN                         NaN
534                                       NaN                     211-220
537                                       NaN                         NaN
538                                       NaN                         NaN
539                                       NaN                         NaN
540                                       NaN                     201-210
541                                       NaN                         NaN
542                                       NaN                     231-240
544                                       NaN                     221-230
545                                       NaN                         NaN
546                                       NaN                     231-240
547                                       NaN                     221-230
548                                       NaN                     221-230
550                                       NaN                     211-220
551                                       NaN                     211-220
552                                       NaN                     221-230
554                                       NaN                         NaN
555                                       NaN                         NaN
556                                       NaN                         NaN
557                                       NaN                         NaN

    Reading: Literature Reading: Vocabulary Acquisition and Use  \
0                   NaN                                     NaN
1                   NaN                                     NaN
2                   NaN                                     NaN
3                   NaN                                     NaN
4                   NaN                                     NaN
5                   NaN                                     NaN
6                   NaN                                     NaN
7                   NaN                                     NaN
10                  NaN                                     NaN
11                  NaN                                     NaN
12                  NaN                                     NaN
13                  NaN                                     NaN
14                  NaN                                     NaN
15                  NaN                                     NaN
16                  NaN                                     NaN
17                  NaN                                     NaN
18                  NaN                                     NaN
19                  NaN                                     NaN
20                  NaN                                     NaN

In [4]:
# Convert 'Test Date' from objects to datetime
NWEA_df[["Test Date"]] = NWEA_df[["Term Tested"]].astype('datetime64[ns]')
NWEA_df = NWEA_df.drop('Term Tested', axis=1)

NWEA_df.head()

C:\Users\314ca\Anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,Student ID,Student Last,Student First,Subject,Test RIT Score,Rapid-Guessing %,Assessment Name,Math: Geometry,Math: Operations and Algebraic Thinking,Math: Statistics and Probability,Math: The Real and Complex Number Systems,Reading: Informational Text,Reading: Literature,Reading: Vocabulary Acquisition and Use,"Language: Language: Understand, Edit for Grammar, Usage","Language: Language: Understand, Edit Mechanics","Language: Writing: Plan, Organize, Develop, Revise, Research",Test Date
0,2262.0,Abraham,Jelani,Language,201.0,4.0,Growth (Long),NaN,NaN,NaN,NaN,NaN,NaN,NaN,201-210,201-210,191-200,2019-01-09
1,2262.0,Abraham,Jelani,Language,215.0,NaN,Screening (Short),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-11
2,2262.0,Abraham,Jelani,Language,193.0,4.0,Growth (Long),NaN,NaN,NaN,NaN,NaN,NaN,NaN,201-210,181-190,181-190,2019-07-11
3,2262.0,Abraham,Jelani,Language,198.0,NaN,Screening (Short),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-29
4,2262.0,Abraham,Jelani,Language,217.0,NaN,Screening (Short),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-09

In [5]:
# Using .rename(columns={}) in order to rename columns
renamed_df = NWEA_df.rename(columns={"Assessment Name":"Version", "Math: Operations and Algebraic Thinking": "Math: Algebra", 
                                     "Math: The Real and Complex Number Systems": "Math: Numbers", "Reading: Vocabulary Acquisition and Use":"Reading: Vocab",
                                    "Language: Language: Understand, Edit for Grammar, Usage":"Language: Grammar", "Language: Language: Understand, Edit Mechanics": "Language: Mechanics",
                                    "Language: Writing: Plan, Organize, Develop, Revise, Research": "Language: Writing"})

renamed_df.head()

,Student ID,Student Last,Student First,Subject,Test RIT Score,Rapid-Guessing %,Version,Math: Geometry,Math: Algebra,Math: Statistics and Probability,Math: Numbers,Reading: Informational Text,Reading: Literature,Reading: Vocab,Language: Grammar,Language: Mechanics,Language: Writing,Test Date
0,2262.0,Abraham,Jelani,Language,201.0,4.0,Growth (Long),NaN,NaN,NaN,NaN,NaN,NaN,NaN,201-210,201-210,191-200,2019-01-09
1,2262.0,Abraham,Jelani,Language,215.0,NaN,Screening (Short),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-11
2,2262.0,Abraham,Jelani,Language,193.0,4.0,Growth (Long),NaN,NaN,NaN,NaN,NaN,NaN,NaN,201-210,181-190,181-190,2019-07-11
3,2262.0,Abraham,Jelani,Language,198.0,NaN,Screening (Short),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-29
4,2262.0,Abraham,Jelani,Language,217.0,NaN,Screening (Short),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-09

In [6]:
# Reorganizing the columns using double brackets
organized_df = renamed_df[["Student ID","Student Last","Student First", "Test Date", "Subject", "Version", "Test RIT Score", "Rapid-Guessing %"]]
organized_df.head()

,Student ID,Student Last,Student First,Test Date,Subject,Version,Test RIT Score,Rapid-Guessing %
0,2262.0,Abraham,Jelani,2019-01-09,Language,Growth (Long),201.0,4.0
1,2262.0,Abraham,Jelani,2019-04-11,Language,Screening (Short),215.0,NaN
2,2262.0,Abraham,Jelani,2019-07-11,Language,Growth (Long),193.0,4.0
3,2262.0,Abraham,Jelani,2019-08-29,Language,Screening (Short),198.0,NaN
4,2262.0,Abraham,Jelani,2019-12-09,Language,Screening (Short),217.0,NaN

In [10]:
# Parse out each subject of test
Language_df = organized_df[organized_df["Subject"].str.contains("Language", na=False)]
Math_df = organized_df[organized_df["Subject"].str.contains("Math", na=False)]
Reading_df = organized_df[organized_df["Subject"].str.contains("Reading", na=False)]

Math_df.head()

,Student ID,Student Last,Student First,Test Date,Subject,Version,Test RIT Score,Rapid-Guessing %
192,2262.0,Abraham,Jelani,2019-01-11,Math,Growth (Long),200.0,0.0
193,2262.0,Abraham,Jelani,2019-07-10,Math,Growth (Long),206.0,0.0
194,2263.0,Abraham,Jelani,2019-10-10,Math,Screening (Short),210.0,NaN
195,4770.0,Acosta Delgado,Estefany,2019-06-03,Math,Screening (Short),210.0,NaN
196,4770.0,Acosta Delgado,Estefany,2019-08-27,Math,Screening (Short),214.0,NaN

In [51]:
# Math Tests Given Analysis
Total_Math_Tests = len(Math_df["Student ID"])
Total_Math_Tests

Total_MStudents_Tested = len(Math_df["Student ID"].unique())
Total_MStudents_Tested

Short_MVersions = Math_df[Math_df["Version"].str.contains("Screening")]
Short_MVersions_Count = len(Short_MVersions)
Short_MVersions_Count

Long_MVersions = Math_df[Math_df["Version"].str.contains("Growth")]
Long_MVersions_Count = len(Long_MVersions)
Long_MVersions_Count


Math_summary_table = pd.DataFrame({
    "Total Math Tests": [Total_Math_Tests],
    "Total Students Tested": [Total_MStudents_Tested],
    "Short Versions": [Short_MVersions_Count],
    "Long Versions": [Long_MVersions_Count],
    "Short Version as % of Total Tests": [round(((Short_MVersions_Count/Total_Math_Tests) * 100), 1)]
})
Math_summary_table

,Total Math Tests,Total Students Tested,Short Versions,Long Versions,Short Version as % of Total Tests
0,140,74,46,94,32.9

In [55]:
# Language Tests Given Analysis
Total_Lang_Tests = len(Language_df["Student ID"])
Total_Lang_Tests

Total_LStudents_Tested = len(Language_df["Student ID"].unique())
Total_LStudents_Tested

Short_LVersions = Language_df[Language_df["Version"].str.contains("Screening")]
Short_LVersions_Count = len(Short_LVersions)
Short_LVersions_Count

Long_LVersions = Language_df[Language_df["Version"].str.contains("Growth")]
Long_LVersions_Count = len(Long_LVersions)
Long_LVersions_Count


Lang_summary_table = pd.DataFrame({
    "Total Language Tests": [Total_Lang_Tests],
    "Total Students Tested": [Total_LStudents_Tested],
    "Short Versions": [Short_LVersions_Count],
    "Long Versions": [Long_LVersions_Count],
    "Short Version as % of Total Tests": [round(((Short_LVersions_Count/Total_Lang_Tests) * 100), 1)]
})
Lang_summary_table

,Total Language Tests,Total Students Tested,Short Versions,Long Versions,Short Version as % of Total Tests
0,153,82,54,99,35.3

In [56]:
# Reading Tests Given Analysis
Total_Reading_Tests = len(Reading_df["Student ID"])
Total_Reading_Tests

Total_RStudents_Tested = len(Reading_df["Student ID"].unique())
Total_RStudents_Tested

Short_RVersions = Reading_df[Reading_df["Version"].str.contains("Screening")]
Short_RVersions_Count = len(Short_RVersions)
Short_RVersions_Count

Long_RVersions = Reading_df[Reading_df["Version"].str.contains("Growth")]
Long_RVersions_Count = len(Long_RVersions)
Long_RVersions_Count


Reading_summary_table = pd.DataFrame({
    "Total Reading Tests": [Total_Reading_Tests],
    "Total Students Tested": [Total_RStudents_Tested],
    "Short Versions": [Short_RVersions_Count],
    "Long Versions": [Long_RVersions_Count],
    "Short Version as % of Total Tests": [round(((Short_RVersions_Count/Total_Reading_Tests) * 100), 1)]
})
Reading_summary_table

,Total Reading Tests,Total Students Tested,Short Versions,Long Versions,Short Version as % of Total Tests
0,138,70,66,72,47.8

In [ ]:
# Find Average Score for Short vs. Long Test